   /* page6 */
   
   .page6 {
       display: flex;
       margin-top: 50px;
       background-color: #f3f3f3;
       padding: 71px 0px 0px;
   }
   
   .page6 img {
       height: 558px;
       width: 100%;
   }
   
   .page6_div1 {
       padding: 70px;
   }
   
   .form1 {
       display: grid;
       padding-top: 30px;
       grid-template-columns: repeat(2, 49.5%);
       column-gap: 10px;
       row-gap: 12px;
       /* grid-template-rows: repeat(2, 66px); */
   }
   
   .form1 input {
       border-radius: 8px;
       padding: 22px;
       border: navajowhite;
   }
   
   .form1_div {
       display: grid;
       padding-top: 30px;
       /* padding: 10px; */
       grid-template-columns: repeat(1, 100%);
       grid-template-rows: repeat(2, 66px);
   }
   
   .form1_div textarea {
       height: 59px;
       border-radius: 7px;
       border: none;
       padding: 20px 0px 0px 26px;
   }
   
   .form1_div button {
       /* width: 628px; */
       height: 60px;
       background-color: #58ab21;
       border: none;
       margin: 10px 0px;
       color: white;
       font-weight: bold;
       border-radius: 8px;
       font-size: 20px;
   }
   
   @media (max-width:1150px) {
       .page6 {
           display: inline-block;
           padding: 10px;
       }
   }
   
   @media (max-width:800px) {
       .form1 {
           display: grid;
           /* padding-top: 30px; */
           grid-template-columns: repeat(1, 100%);
           /* row-gap: 12px; */
       }
   }
   
   .section-page2::after {
       position: absolute;
       content: " ";
       width: 162px;
       left: 50%;
       top: -13px;
       height: 2px;
       transform: translateX(-50%);
       background: var(--orange-color);
       display: block;
   }